tripcard {
      ion-card {
        .icon_heart {
          display: inline-block!important;
          font-size: 1.4em!important;
          position: absolute!important;
          right: 18px!important;
          top: 30px!important;
          width: 30px!important;
          color: #ecf0f1!important;
          height: 30px!important;
          background: #d452c3!important;
          text-align: center!important;
          border-radius: 50%!important;
        }
        .icon_heart_red {
          display: inline-block!important;
          font-size: 1.4em!important;
          position: absolute!important;
          right: 18px!important;
          top: 30px!important;
          width: 30px!important;
          color: #ecf0f1!important;
          height: 30px!important;
          background: red!important;
          text-align: center!important;
          border-radius: 50%!important;
        }
      }
    }
