
<ion-slides>
    <ion-slide *ngFor="let package of packagesA">
    <ion-card>
      <div class="icon_heart" *ngIf="showheartIcon">
        <ion-icon name="heart" (click)="setWishlistTrue();" class="heart"></ion-icon>
      </div>
      <div class="icon_heart_red" *ngIf="showheartIconRed">
        <ion-icon name="heart" (click)="setWishlistFalse();" class="heart"></ion-icon>
      </div>

      <img [src]="package.image" class="slide-image"/>
      <ion-card-content>
        <h2 text-right class="slide-title" [innerHTML]="package.title"></h2>
        <p  text-right [innerHTML]="package.description"></p>
      </ion-card-content>
    </ion-card>
    </ion-slide>
</ion-slides>